header.user {
  height: 400px;
  width: 100%;
  background-color: rgb(253, 253, 222);
  /*background-image: url("https://www.transparenttextures.com/patterns/little-pluses.png");*/
  background-image: url("https://www.transparenttextures.com/patterns/food.png");
  margin-top: 120px;
  padding: 15px;
}

.avatar {
  display: flex;
  justify-content: center;
}

.avatar img {
  width: 10em;
  height: auto;
}

.name {
  display: flex;
  justify-content: center;
}

@media only screen and (min-width: 1024px) {
  header.user {
    width: 30%;
    float: left;
    margin-left: 35px;
    margin-top: 155px;
  }
}