article.tweet:hover {
  box-shadow: 5px 5px silver;
  opacity: 1;
}

article.tweet {
  border: solid 2px #686662;
  margin: 15px;
  margin-bottom: 35px;
  padding: 25px;
  transition: 0.5s ease-in-out;
}

article.tweet footer {
  font-size: 15px;
  border-top: 2px solid #686662;
}

article.tweet header img {
  width: 50px;
  height: auto;
}

article.tweet header {
  display: flex;
  align-items: center;
}

article.tweet header p {
  flex-grow: 1;
  padding: 5px;
}

article.tweet .user {
  display: flex;
  justify-content: flex-end;
  opacity: 0;
  transition: 0.5s ease-in-out;
}

article.tweet:hover .user {
  opacity: 1;
  
}

footer p img {
  width: 20px;
  height: auto;
  float: right;
  margin: auto;
  margin-left: 10px;
  opacity: 0;
  transition: 0.5s ease-in-out;
}

article.tweet:hover footer img {
  opacity: 1;
}